<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DentalTech - Sistema Inteligente para Clínicas Odontológicas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./../src/style/reset.css">
    <link rel="stylesheet" href="./../src/style/style.css">
    <link rel="stylesheet" href="./../src/style/main.css">
</head>
<body>
    <!-- Header -->
    <div th:replace="~{components/header :: header_Main}"></div>
    <!-- Hero Section -->
   <div th:replace="~{components/section/mainSection :: hero}"></div>
    <!-- Features Section -->
    <div th:replace="~{components/section/mainSection :: features}"></div>
    <!-- Pricing Section -->
    <div th:replace="~{components/section/mainSection :: pricing}"></div>
    <!-- Testimonials -->
    <div th:replace="~{components/section/mainSection :: testimonials}"></div>
    <!-- CTA Section -->
    <div th:replace="~{components/section/mainSection :: cta}"></div>
    <!-- Footer -->
    <div th:replace="~{components/footer :: footer_Main}"></div>
    <script src="./../src/js/main.js"></script>

</body>
</html>