<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente - DentalTech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="./../src/style/reset.css">
    <link rel="stylesheet" href="./../src/style/style.css">
    <link rel="stylesheet" href="./../src/style/messages.css">
    <link rel="stylesheet" href="./../src/style/client/register.css">



</head>
<body>
    <div th:replace="~{components/header :: header_Simple}"></div>

 <div th:replace="~{components/messages :: messages_register}"></div>
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <div class="form-container">
                <div class="form-header">
                    <h2>Cadastro de Paciente</h2>
                    <p>Preencha os dados abaixo para cadastrar um novo paciente no sistema</p>
                </div>

               <div th:replace="~{components/forms/formcomponents :: client_register}"></div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div th:replace="~{components/footer :: footer_Simple}"></div>
    <script src="./../src/js/notification.js"></script>
    <script src="./../src/js/mask.js"></script>
    <script src="./../src/js/viaCep.js"></script>



</body>
</html>